.banner {
  background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.00) 0%, #071629 100%), #000;
  background: #000 url("./images/Bitmap.png") no-repeart;
  background-blend-mode: normal, color;
  color: #FFF;
  text-align: center;
}
